@import './variables';

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@font-face {
    font-family: 'Futura';
    src: local('Futura'), url(../assets/fonts/FuturaStd-Medium.otf)
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap')
}