@import '../../styles/mixins';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.projects {
    &__header {
        font-family: 'Futura';
        font-size: 36px;
        letter-spacing: 3px;
        margin: 0;
    }
    &__text {
        font-family: 'Source Code Pro', monospace;
        font-size: 18px;
    }
    &__link {
        color: #000AFF;
        cursor: pointer;
    }
    &__link:hover {
        opacity: 0.95;
    }
}

.projectBox {
    margin: 20px 0;
    display: flex;
    &__image {
        opacity: .9;
        border: solid 3px white;
        border-radius: 10%;
        width:fit-content;
        height: fit-content;
        margin: 0 auto;
    }
    &__image:hover {
        border: solid 3px #000AFF;
        opacity: 1;
        cursor: pointer;
    }
}