@import '../../styles/mixins';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


.footer {
    font-family: 'Futura';
    font-size: 14px;
    letter-spacing: 1.5px;
    &__email {
        display: flex;
        text-decoration: none;
        color: white;
    }
    &__icon {
        height: 40px;
    }
    margin-bottom: 120px;
    @include tablet {
        margin-bottom: 0;
    }
}

.contactList {
    padding-left: 0;
    list-style-type: none;
    &__item {
        display: flex;
        align-items: center;
        margin: 15px 0;
        p {
            margin-left: 10px;
        }
    }
    &__item:hover {
        cursor: pointer;
    }
    @include tablet {
        display: flex;
        justify-content: space-between;
        margin: 15px 80px;
        &__item:hover {
            opacity: .5;
        }
    }
}