@import '../styles/mixins';

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
    color: white;
    background-color: #262121;
    margin: 20px 20px;
}

.heroMain {
    display: none;
    @include tablet {
        display: unset;
    }
}

::-moz-selection{
    background: #000AFF;
  }
  ::selection{
    background: #000AFF;
  }