@import '../../styles/mixins';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.hero {
      display: flex;
      color: white;
      align-items: center;
      font-family: 'Source Code Pro', monospace;
      font-size: 18px;
      justify-content: left;
      &__text{
          width: fit-content;
          display: flex;
          margin: 2px;
          padding-right: 8px;
          &--blink {
                position: relative;
                background-position: relative;
                bottom: 1.5px;
                left: -4px;
                animation: blinker 1s linear infinite;
                -webkit-user-select: none;
                -moz-user-select: none;
            }
          &--dynamic {
                width: fit-content;
          }
      }
      &__dynamicSection {
          min-width: 100px;
          height: 23px;
          padding: 2px;
          display: flex;
          flex: row;
          align-items: center;
          justify-content: space-between;
          background-color: #000AFF;
      }
      &__button {
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          &--dice:hover {
              opacity: 0.75;
          }
          &--dice:active {
              opacity: 1;
          }
      }
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }