@import '../../styles/mixins';

.hero {
      display: flex;
      flex-direction: column;
      color: white;
      @include desktop {
        flex-direction: row;
        align-items: center;
      }
      &__text{
          width: fit-content;
          display: flex;
          margin-bottom: 2px;
          @include desktop {
            margin: 0 3px 0 0;
          }
          &--blink {
              position: relative;
              background-position: relative;
              left: 1px;
              bottom: 2.5px;
              animation: blinker 1s linear infinite;
            }
          &--dynamic {
              width: 300px;
              padding-left: 3px;
          }
      }
      &__dynamicSection {
          width: 320px;
          height: 23px;
          display: flex;
          flex: row;
          align-items: center;
          justify-content: space-between;
          background-color: #000AFF;
      }
      &__button {
          cursor: pointer;
          &--dice:hover {
              opacity: 0.75;
          }
          &--dice:active {
              opacity: 1;
          }
      }
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }