@import '../../styles/mixins';

.navBar {
    @include tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header {
    font-family: 'Futura';
    font-size: 36px;
    letter-spacing: 3px;
    text-align: center;
}

.nav {
    height: 100px;
    width: 767px;
    border-top: 1px solid white;
    background-color: #262121;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -383.5px;
    p {
        padding: 10px;
    }
    &__link:hover {
        cursor: pointer;
    }
    @include tablet {
        height: unset;
        width: unset;
        border-top: none;
        position: unset;
        margin-left: unset;
        justify-content: unset;
        cursor: default;
        &__link:hover {
            opacity: .5;
        }
    }
}